Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
JuegoWin32/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
JuegoWin32/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
JuegoWin32/WindowsNoEditor/MyProject.exe
JuegoWin32/WindowsNoEditor/MyProject2/Content/Paks/MyProject2-WindowsNoEditor.pak
JuegoWin32/WindowsNoEditor/UEEjercicio2.rar
MyProject.uproject
MyProject.uproject
MyProject.uproject
